<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="btn-back" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Rellena los campos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="fmRegister">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="5">
                <ion-input [(ngModel)]="rut" formControlName="rut" type="number" placeholder="12345678"></ion-input>
              </ion-col>
              <ion-col size="1">
                <ion-input value="-" readonly></ion-input>
              </ion-col>
              <ion-col size="4">
                <ion-input [ngModel]="dv" formControlName="dv" type="text" size="small" placeholder="K"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-input formControlName="newPassword" type="password" placeholder="Nueva Contraseña"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-button (click)="guardarUser()" shape="round" color="success">Guardar!</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
