<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recuperarPass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">recuperarPass</ion-title>
        </ion-toolbar>
      </ion-header>
    
      <ion-card-header>
        <ion-card-title>Rellenar Campos</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="fmRegister">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="5">
                <ion-input [(ngModel)]="rut" formControlName="rut" type="number" placeholder="12345678"></ion-input>
              </ion-col>
              <ion-col size="1">
                <ion-input value="-" readonly></ion-input>
              </ion-col>
              <ion-col size="4">
                <ion-input [ngModel]="dv" formControlName="dv" type="text" size="small" placeholder="K"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-input formControlName="usuario" size="small" type="text" placeholder="Ingresar Usuario"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-input formControlName="name" type="text" placeholder="Nombre"></ion-input>
              </ion-col>
              <ion-col size="6">
                <ion-input formControlName="lastName" type="text" placeholder="Apellido"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-input formControlName="password" type="password" placeholder="Contraseña"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-button (click)="guardarUser()" shape="round" color="success">Guardar!</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
