<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card class="transparent-card">
      <ion-card-header>
        <ion-card-title #title>Iniciar Sesión</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="fmLogin">
          <ion-grid fixed>
            <ion-row>
              <ion-item>
                <ion-input formControlName="usuario" [(ngModel)]="usuario" type="text" labelPlacement="floating" placeholder="Escribir Usuario">
                  <div slot="label">Usuario <ion-text color="danger">(Required)</ion-text></div>
                </ion-input>
              </ion-item>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-input formControlName="password" [(ngModel)]="password" type="Password" labelPlacement="floating" placeholder="Escribir Contraseña">
                    <div slot="label">Password <ion-text color="danger">(Required)</ion-text></div>
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-button (click)="recuperarPass()" size="small" shape="circle" color="light">
                Recuperar contraseña
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-button (click)="limpiarInputs()" shape="round" color="danger">Limpiar</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button (click)="verificarLogin()" shape="round" color="primary">Ingresar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button  [routerLink]="['/register']" color="warning" expand="full" fill="solid" size="default" shape="default">
          Registrate
        </ion-button>
      </ion-card-content>
    </ion-card>


  </div>



</ion-content>
