<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Asistencia QR!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h5>Bienvenido {{ usuario }}</h5>
  <div class="scanner-container" *ngIf="showScanner">
    <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
    <div class="scanner-overlay"></div>
  </div>
  <section class="results" *ngIf="qrResultString">
    <div>
      <small>Resultado</small>
      <strong>{{ qrResultString }}</strong>
    </div>
    <button mat-icon-button (click)="clearResult()">×</button>
  </section>
  <ion-alert [isOpen]="showAlert"
    header="Asistencia Registrada"
    message="Registro exitoso!"
    [buttons]="alertButtons"
  ></ion-alert>
</ion-content>
